div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kirby {
    width: 100vw; height: 100vh;
}

.eye {
    z-index: 1;
    width: 20px; height: 50px;
    border-radius: 50%;
    margin-bottom: 30px;
    background-color: black;
    &.left {margin-right: 60px;}
    &.right {margin-left: 60px;}
}

.highlight {
    width: 10px; height: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: white;
}
.iris {
    width: 14px; height: 20px;
    border-radius: 50% / 30% 30% 70% 70%;
    margin-top: 22px;
    background-image: linear-gradient(black, dodgerblue);
}

.mouth {
    z-index: 1;
    width: 30px; height: 20px;
    border-radius: 5px 5px 15px 15px;
    margin-top: 50px;
    background-image: linear-gradient(darkred, maroon);
}

.body {
    width: 200px; height: 200px; 
    border-radius: 50%;
    background-image: linear-gradient(pink, #ffa0a8);
}

@keyframes wave {
    from {
        transform: rotate(-30deg);
        margin-right: 150px; margin-bottom: 110px;
    }
    to {
        transform: rotate(-50deg);
        margin-right: 170px; margin-bottom: 80px;
    }
  }


.arm {
    z-index: -1 ;
    width: 90px; height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, pink, #ffa0a8);
    &.left {
        animation-name: wave; animation-duration: 0.5s; animation-iteration-count: infinite; animation-direction: alternate-reverse;
    }
    &.right {
        margin-left: 150px; margin-top: 50px;
        transform: rotate(-45deg);
    }
}

.leg {
    z-index: -1;
    width: 110px; height: 60px;
    margin-top: 180px;
    background-image: linear-gradient(darkred, maroon);
    &.left {margin-right: 130px; border-radius: 100% 0 30% 30% / 100% 0 50% 50%;}
    &.right {margin-left: 130px; border-radius: 0 100% 30% 30% / 0 100% 50% 50%;}
}